<!DOCTYPE html>

<html>

    <head>

    </head>

    <body>
        
        <div class="page-container-admin">

            <div class="nav-bar-admin">

                <a href="/user/admin/dodajmenadzer"> Dodaj menadzera </a>
                <a href="/user/admin/izbrisimenadzer"> Izbrisi menadzera </a>
                <a href="/user/admin/dodajartikl"> Dodaj Artikl </a>
                <a href="/user/admin/izmeniartikl"> Izmeni Artikl </a>
                <a href="/user/admin/izbrisiartikl"> Izbrisi Artikl </a>
                <a href="/user/admin/prikazikorisnici"> Korisnici </a>
            </div>

        {% block newBlock %} {% endblock %}

        </div>

        

    </body>

</html>