{% extends 'Admin/admin_panel.twig' %}

{% block newBlock %} 
    {% for item in result %}

        {% if item.korisnik_ime != "izbrisano" %}
        <div class="admin-delete-manager-card">

            <h2> Ime : {{ item.korisnik_ime }}</h2>
            <h3> Prezime : {{ item.korisnik_prezime }} </h3>
            <h3> Email : {{ item.nalog_email }}</h3>

            <a href="/user/admin/delete/{{ item.id }}"> Izbrisi </a>

        </div>
        {% endif %}
        {% endfor %}
{% endblock %}