{% extends 'header_no_login.twig' %}

{% block pageShowProducts %}

    <div class="main-page-products">

        <div class="main-page-products-guitar">
            <h1> Elektricne Gitare </h1>
            <a href="/product/show/Fender/gitara" > Fender <img src="/website/slike/Fender/gitara/strat_beli.jpg" alt="no pic"> </a>
            <a href="/product/show/Gibson/gitara" > Gibson <img src="/website/slike/Gibson/gitara/gibson_lespaul.jpg" alt="no pic"> </a>
            <a href="/product/show/Ibanez/gitara" > Ibanez <img src="/website/slike/Ibanez/gitara/ibanez_gitara.jpg" alt="no pic"> </a>
        </div>
        <div class="main-page-horizontal-line"></div>
        <div class="main-page-products-guitar-amps">
            <h1> Pojacala za elektricne gitare </h1>
            <a href="/product/show/Fender/gitarapojacalo" > Fender <img src="/website/slike/Fender/gitarapojacalo/fender_gitara_amp.jpg" alt="no pic"> </a>
            <a href="/product/show/Marshall/gitarapojacalo" > Marshall <img src="/website/slike/Marshall/gitarapojacalo/marshall_amp.jpg" alt="no pic"> </a>
        </div>
        <div class="main-page-horizontal-line"></div>
        <div class="main-page-products-bass-guitar">
            <h1> Bass Gitare </h1>
            <a href="/product/show/Fender/bassgitara" > Fender <img src="/website/slike/Fender/bassgitara/fender_bass.jpg" alt="no pic"> </a>
        </div>
        <div class="main-page-horizontal-line"></div>
        <div class="main-page-products-bass-guitar-amps">
            <h1> Pojacala za bass gitare </h1>
            <a href="/product/show/Fender/basspojacalo" > Fender <img src="/website/slike/Fender/basspojacalo/fender_bass_slika.jpg" alt="no pic"> </a>
        </div>
        <div class="main-page-horizontal-line"></div>
        <div class="main-page-products-drums">
            <h1> Bubnjevi </h1>
            <a href="/product/show/Yamaha/bubnjevi" > Yamaha <img src="/website/slike/Yamaha/bubnjevi/yamaha_bubanj.jpg" alt="no pic"> </a>
        </div>
        <div class="main-page-horizontal-line"></div>
        <div class="main-page-products-keyboards">
            <h1> Klavijature </h1>
            <a href="/product/show/Yamaha/klavijature" > Yamaha <img src="/website/slike/Yamaha/klavijature/klavijatura.jpg" alt="no pic"> </a>
            <a href="/product/show/Korg/klavijature" > Korg <img src="/website/slike/Korg/klavijature/klavijatura.jpg" alt="no pic"> </a>
        </div>
        <div class="main-page-horizontal-line"></div>
        <div class="main-page-products-acoustic-guitars">
            <h1> Akusticne Gitare </h1>
        <a href="/product/show/Yamaha/akusticnagitara" > Yamaha <img src="/website/slike/Yamaha/akusticnagitara/yamaha_akusticna.jpg" alt="no pic"> </a>
        </div>
        
    </div>

{% endblock %}