<!DOCTYPE html>

<html>

    <head>

    </head>

    <body>
        
        <div class="page-container-manager">

            <div class="nav-bar-manager">

                <a href="/user/manager/dodajartikl"> Dodaj Artikl </a>
                <a href="/user/manager/izmeniartikl"> Izmeni Artikl </a>
                <a href="/user/manager/izbrisiartikl"> Izbrisi Artikl </a>
                <a href="/user/manager/prikazikorisnici"> Korisnici </a>
            </div>

        {% block newBlock %} {% endblock %}

        </div>

        

    </body>

</html>